table,
th,
td {
  border: 3px solid white;
  border-collapse: collapse;
}
th,
td {
  background-color: #96d4d4;
}

.userTable {
  width: 65%;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, 0.15);
  padding: 30px;
  margin-top: 5%;
}

.table {
  width: 100%;
  margin-top: 30px;
}

td {
  background-color: #96d4d4;
  background-color: blueviolet;
  padding: 10px !important;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1px;
}
th {
  padding: 10px !important;
}

@media (max-width: 800px) {
  td {
    display: block;
    max-width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
  }

  td:not(:last-child)::before {
    content: attr(data-cell) ' : ';
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem;
  }

  td:first-child {
    padding-top: 3.5rem;
    background-color: rgb(50, 148, 110);
  }

  th {
    display: none;
  }
}

@media (max-width: 550px) {
  td {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  table {
    padding: 10%;
  }
  .userTable {
    display: flex !important;
    width: 95%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
  }
  .table {
    max-width: 100%;
  }
}

@media (max-width: 310px) {
  td {
    max-width: 215px;
  }
}
