table,
th,
td {
  border: 3px solid white;
  border-collapse: collapse;
}
th,
td {
  background-color: #96d4d4;
}

.userTable {
  width: 65%;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, 0.15);
  padding: 30px;
  margin-top: 5%;
}

.table {
  width: 100%;
  margin-top: 30px;
}

td {
  background-color: #96d4d4;
  background-color: blueviolet;
  padding: 10px !important;
  color: white;
}
th {
  padding: 10px !important;
}
